<ion-header>
    <ion-toolbar class="header" color="primary">
        <ion-menu-toggle>
            <ion-button size="small" color="light" fill="clear">
                <ion-icon size="large" slot="icon-only" name="menu-outline"></ion-icon>
            </ion-button>
        </ion-menu-toggle>
        <ion-title>
            {{'navigation.closest-point-of-interest' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen *ngIf="loadingClosestTours">
    <ion-grid style="height: 100%">
        <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%">
            <ion-title style="padding-bottom: 100px">
                <ion-spinner name="dots"></ion-spinner>
            </ion-title>
            <img height="125" width="125" src="assets/images/icon.png" alt="">
        </ion-row>
    </ion-grid>
</ion-content>

<ion-content fullscreen *ngIf="!loadingClosestTours">
    <ion-list>
        <ion-item (click)="goToDetails(tour)" *ngFor="let tour of tourDistances">
            <ion-avatar slot="start">
                <img [src]="'assets/images/sights/tours/' + tour.tourName + '_1.jpg'" [alt]="tour.tourName"/>
            </ion-avatar>
            <ion-label>
                <p>
                    <ion-icon color="primary" name="footsteps-outline"></ion-icon>
                    {{ tour.distance }} {{'from-you' | translate }}
                </p>
                <h3>{{ 'navigation.tour' | translate }}</h3>
                <h2>{{ 'tours.' + tour.tourName + '.title' | translate }}</h2>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
