<ion-app>
  <ion-split-pane contentId="menu-content">
    <ion-menu contentId="menu-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>{{'app_name' | translate }}</ion-list-header>
          <ion-note>{{'app_name' | translate }}</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let page of pages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[page.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
              <ion-label>{{ page.title | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
