<ion-content center text-center>
  <ion-grid>
    <ion-row class="logo-container" justify-content-center align-items-center>
      <img src="assets/images/logo.png" alt="logo">
    </ion-row>
    <ion-row class="language-picker" justify-content-center align-items-center>
      <ion-list radio-group no-border ngDefaultControl>
        <ion-radio-group value="eng">
          <ion-list-header>
            <ion-label class="language-picker-heading">
              <p>{{ 'language_picker.choose_your_language' | translate }}</p>
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>{{ 'language_picker.english' | translate }}</ion-label>
            <ion-radio value="eng" (click)="switchLanguage('eng')"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'language_picker.croatian' | translate }}</ion-label>
            <ion-radio value="cro" (click)="switchLanguage('cro')"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'language_picker.german' | translate }}</ion-label>
            <ion-radio value="ger" (click)="switchLanguage('ger')"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>{{ 'language_picker.italian' | translate }}</ion-label>
            <ion-radio value="ita" (click)="switchLanguage('ita')"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-row>
  </ion-grid>
  <ion-item (click)="goToMenuPage()">{{ 'next' | translate }}</ion-item>
</ion-content>
