.logo-img {
  width: auto;
  margin: auto;
  display: block;
}

.lang-img {
  width: 20px;
  height: 20px;
}

.social-logo {
  height: 20px;
}

.language-picker{
  display: flex !important;
  justify-content: center !important;
}

.logo-container{
  display: flex !important;
  justify-content: center !important;
}

.language-picker-heading{
  text-align: center !important;
  margin-bottom: 20px;
}
