<ion-header>
  <ion-toolbar class="header" color="primary">
    <ion-menu-toggle>
      <ion-button size="small" color="light" fill="clear">
        <ion-icon size="large" slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    <ion-title>
      {{'navigation.monasteries' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content fullscreen>
    <ion-list>
      <ion-item (click)="goToDetails(sight)" *ngFor="let sight of sights">
        <ion-avatar slot="start">
          <img [src]="'assets/images/sights/monasteries/' + sight + '_1.jpg'" [alt]="sight"/>
        </ion-avatar>
        <ion-label>
          <h2>{{ 'monasteries.' + sight + '.title' | translate }}</h2>
          <h3>{{ 'navigation.monasteries' | translate }}</h3>
          <p>{{ 'monasteries.' + sight + '.description' | translate }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
