<ion-header>
  <ion-toolbar class="header" color="primary">
    <ion-menu-toggle>
      <ion-button size="small" color="light" fill="clear">
        <ion-icon size="large" slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    <ion-title>
      {{'navigation.monasteries' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content fullscreen>
    <ion-card *ngFor="let sight of sights">
      <img [src]="'assets/images/sights/' + sight + '_1.jpg'" />
      <ion-card-header>
        <ion-card-subtitle class="ion-margin-bottom">{{ 'navigation.monasteries' | translate }}</ion-card-subtitle>
        <ion-card-title>{{ 'monasteries.' + sight + '.title' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-header class="ion-text-center">
        <ion-button (click)="goToDetails(sight)" fill="clear" expand="full" color="primary">
          <ion-icon size="large" slot="icon-only" name="information-outline"></ion-icon>
          {{ 'read_more' | translate}}
        </ion-button>
      </ion-card-header>
    </ion-card>
  </ion-content>
